<template>
  <require from="../../util/date-format"></require>

  <h4>ETMS Services</h4>

  <div style="max-width: 1600px">

    <div class="fixed-action-btn horizontal"
         style="position: absolute; display: inline-block; right: 194px; top: 80px;">
      <a md-button="floating: true; large: true;" md-tooltip="position: right; text: Create microservice;"
         md-waves="color: red; circle: true;"
         class="primary" route-href="route: newMicroservice;">
        <i class="large material-icons">add</i>
      </a>
    </div>

    <div class="row col-lg-12">


      <div repeat.for="service of microservices">
        <md-card class="col s3" md-title="${service.platformSettings.artifactId}" md-size="small" md-reveal="true"
                 md-image="http://www.tuprogramaras.com/wp-content/uploads/2014/04/java.jpg">
          <div>
            <!--<b>${service.id}</b> <br/>-->
            <b>${service.platform}</b> <br/>
            Created on ${service.creationDate | dateFormat}
          </div>
          <div slot="reveal-text">
            <b>Created by</b> ${service.vzId} <br/>
            <b>Fabric status</b> ${service.fabricStatus.status}<br/>
            <b>Creation status</b> ${service.fabricStatus.percentage}%<br/>

            <br/>
            <br/>

            <div class="button-row">
              <button md-button class="primary" click.delegate="goToService(service.id)">
                <i class="left material-icons">keyboard_arrow_right</i>
                More Info
              </button>
            </div>

          </div>
        </md-card>
      </div>


      <!--<md-card class="col s3" md-title="vz-ebonding-command" md-size="small" md-reveal="true" md-image="http://blogs.vmware.com/cloudnative/files/2016/10/WP-Pivotal-Cloud-Foundry-620x410.png">-->
      <!--<div>-->
      <!--<b>JAVA</b> <br/>-->
      <!--Created on 12/12/2012-->
      <!--</div>-->
      <!--<div slot="reveal-text">-->
      <!--Microservice info (url Deploy, url Jenkins, etc)-->
      <!--<br/>-->
      <!--Status :-->
      <!--<md-switch md-checked.bind="checked"></md-switch>-->
      <!--</div>-->
      <!--</md-card>-->

    </div>
  </div>
</template>
