<template>
  <form submit.delegate="saveService()" novalidate>

    <h4>Create New Service</h4>
    <md-progress md-type="circular" md-pixel-size.bind="pixelSize" md-size.bind="size" md-color.bind="color"
                 if.bind="showSpinner" class="right"></md-progress>
    <br/>


    <div class="fixed-action-btn horizontal"
         style="position: absolute; display: inline-block; right: 194px; top: 80px;">
      <a md-button="floating: true; large: true;" md-tooltip="position: right; text: Back to dashboard;"
         md-waves="color: red; circle: true;"
         class="primary" route-href="route: microservices;">
        <i class="large material-icons">keyboard_backspace</i>
      </a>
    </div>


    <select md-select="label: Select Service Type" value.two-way="microservice.serviceType" change.delegate="selectServiceType(microservice.serviceType)">
      <option value="" disabled selected>Select service type</option>
      <option value="LEGACY">Legacy Application</option>
      <option value="FABRIC">Fabric Application</option>
      <!--<option value="NODE">Node Application</option>-->
    </select>

    <div if.bind="showOptions" >

      <md-card md-title="Main Configuration" class="col s12" if.bind="showNewAppOption">

        <div class="row">

          <md-input class="col s12 m6 l4" md-label="Group ID" md-value.bind="microservice.groupId"
                    md-disabled.bind="disabledValue"></md-input>
          <md-input class="col s12 m6 l4" md-label="Artifact ID" md-value.bind="microservice.artifactId"
                    md-disabled.bind="disabledValue"></md-input>
          <md-input class="col s12 m6 l4" md-label="Version ID" md-value.bind="microservice.version"
                    md-disabled.bind="disabledValue"></md-input>
        </div>
      </md-card>

      <md-card md-title="Main Configuration" class="col l6 m12 s12" if.bind="showLegacyAppOption">
        <div class="row">
          <md-input class="col s12 m12 l6" md-label="REPOSITORY URL" md-value.bind="microservice.legacyUrl" trigger.bind="extractArtifactIdFromLegacyUrl(microservice.legacyUrl)"></md-input>
          <md-input class="col s12 m12 l3" md-label="Artifact ID" md-value.bind="microservice.artifactId"
                    md-disabled.bind="disabledValue"></md-input>
          <md-input class="col s12 m12 l3" md-label="Version ID" md-value.bind="microservice.version"
                    md-disabled.bind="disabledValue"></md-input>
        </div>
      </md-card>

      <br/>


      <div class="row">

        <h5>Pipeline Options</h5>
        <md-card md-title="Pull" class="col s12 l4 m6">
          <div class="row">
            <md-radio class="col s12 m12 l6 " md-name="pullProvider" md-checked.bind="selectedPullOption" md-value="GIT">
              <img style="width: 95px; height: 40px;"
                   src="https://git-scm.com/images/logos/downloads/Git-Logo-2Color.png"/>
            </md-radio>
            <md-radio class="col s12 m12 l6" md-name="pullProvider" md-checked.bind="selectedPullOption" md-value="SVN">
              <img style="width: 95px; height: 40px;"
                   src="https://svn.apache.org/repos/asf/subversion/svn-logos/images/tyrus-svn2.png"/>
            </md-radio>
          </div>
        </md-card>


        <md-card md-title="Build" class="col s12 l4 m6">
          <div class="row">
            <md-radio class="col s12 m12 l6" md-name="buildProvider" md-checked.bind="selectedBuildOption" md-value="MAVEN">
              <img style="width: 110px; height: 35px;"
                   src="https://maven.apache.org/images/maven-logo-black-on-white.png"/>
            </md-radio>
            <md-radio class="col s12 m12 l6" md-name="buildProvider" md-checked.bind="selectedBuildOption" md-value="GRADLE">
              <img style="width: 110px; height: 40px;"
                   src="https://cdn-images-1.medium.com/max/1200/1*gImAplWne6yxtDytygjiYw.png"/>
            </md-radio>
          </div>
        </md-card>


        <md-card md-title="Test" class="col s12 l4 m6">
          <div class="row">
            <p repeat.for="tool of testOptions">
              <md-checkbox class="col s12 m12 l6" md-model.bind="tool" md-checked.bind="selectedTestOption">
                <img style="width: 110px; height: 35px;" src="${tool.imgUrl}"/>
              </md-checkbox>
            </p>
          </div>
        </md-card>


        <md-card md-title="Deploy Environment" class="col s12">
          <div class="row">

            <md-radio class="col s12 m6 l4" md-name="cloudProvider" md-checked.bind="selectedDeployEnvOption" md-disabled="true"  md-value="AWS">
              <img style="width: 179px; height: 109px; filter: grayscale(100%)"
                   src="https://a0.awsstatic.com/main/images/logos/aws_logo_179x109.gif"/>
            </md-radio>

            <md-radio class="col s12 m6 l4" md-name="cloudProvider" md-checked.bind="selectedDeployEnvOption"   md-value="CLOUD_FOUNDRY">
              <img style="width: 179px; height: 109px"
                   src="https://blog.hazelcast.com/wp-content/uploads/2016/01/cloud-foundry.png"/>
            </md-radio>

            <md-radio class="col s12 m6 l4" md-name="cloudProvider" md-checked.bind="selectedDeployEnvOption" md-value="OWN-SERVER">
              <img style="height: 109px;"
                   src="http://1.bp.blogspot.com/-byl39Wd1CIU/VgrTs0lHU6I/AAAAAAAAAew/oMdowX8Xe10/s1600/ico-serv-linux.png"/>
            </md-radio>

          </div>

        </md-card>


      </div>


      <div class="button-row">
        <button md-button class="primary right"><i class="left material-icons" type="submit">keyboard_arrow_right
        </i>Create
        </button>
      </div>

    </div>


  </form>
</template>
