<template>
  <md-navbar>
    <div class="centeredContent">
      <img class="vzLogo" src="http://www.lg.com/us/mobile-phones/v10/img/verizon-desktop.png">
      <ul class="hide-on-med-and-down right">
        <li md-waves><a class="headerText">About</a></li>
        <li md-waves><a class="headerText">Installation</a></li>
        <li md-waves><a class="headerText">Project Status</a></li>
      </ul>
    </div>
  </md-navbar>
</template>
