body {
  background-color: whitesmoke; }

.headerText {
  color: whitesmoke;
  font-size: large; }

.vzLogo {
  margin-top: -1em;
  width: 180px;
  height: 100px; }

.vzBackground {
  height: 100%; }

.centeredContent {
  max-width: 100%;
  width: 1600px;
  margin-left: auto;
  margin-right: auto; }

.btn:hover, .btn-large:hover {
  background-color: #f44336 !important; }

.btn:focus, .btn-large:focus, .btn-floating:focus {
  outline: none;
  background-color: firebrick !important; }

.card-pipeline-completed {
  color: darkgreen; }

.card-pipeline-error {
  color: darkred; }

.card-pipeline-empty {
  color: lightgrey; }
