
<template class="vzBackground">
  <require from="materialize-css/css/materialize.css"></require>
  <require  from = "./layout/nav-bar/nav-bar"></require >

  <md-colors md-primary-color="firebrick" ></md-colors>

  <nav-bar></nav-bar>

  <main class="centeredContent">
    <router-view></router-view>
  </main>

</template>
