<template>
  <require from="../../util/date-format"></require>
  <div style="max-width: 1600px">

    <md-card md-title="Service information">

      <div class="fixed-action-btn horizontal"
           style="position: absolute; display: inline-block; right: 194px; top: 80px;">
        <a md-button="floating: true; large: true;" md-tooltip="position: right; text: Back to dashboard;"
           md-waves="color: red; circle: true;"
           class="primary" route-href="route: microservices;">
          <i class="large material-icons">keyboard_backspace</i>
        </a>
      </div>

      <!--<md-progress md-type="circular" md-pixel-size.bind="pixelSize" md-size.bind="size" md-color.bind="color"-->
      <!--if.bind="isLoadingData" class="right">-->
      <!--</md-progress>-->

      <div class="row">

        <div class="col l3 m6 s12">
          <h6>Service ID: </h6>
          <label>${serviceId}</label>

          <h6>OWNER VZID: </h6>
          <label>${microservice.vzId}</label>

          <h6>PLATFORM: </h6>
          <img style="width: 95px; height: 55px;"
               src="https://vignette2.wikia.nocookie.net/logopedia/images/6/6a/Java-logo.jpg/revision/latest/scale-to-width-down/640?cb=20150321072347"/>
        </div>

        <div class="col l3 m6 s12" if.bind="showJavaPlatformInfo">
          <h6>GROUP ID: </h6>
          <label>${microservice.platformSettings.groupId}</label>
          <h6>ARTIFACT ID: </h6>
          <label>${microservice.platformSettings.artifactId}</label>
          <h6>VERSION: </h6>
          <label>${microservice.platformSettings.version}</label>
        </div>

        <div class="col l3 m6 s12" if.bind="showLegacyInfo">
          <h6>LEGACY URL: </h6>
          <label>${microservice.legacyUrl}</label>
        </div>


        <div class="col l3 m6 s12">
          <div repeat.for="link of microservice.deploymentLinks" >
            <h6>URL ${link.key}: </h6>
            <label>
              <a href="${link.uri}">${link.uri}</a>
            </label>
          </div>
        </div>

        <div class="col l3 m6 s12">

        </div>
      </div>

    </md-card>

    <md-card if.bind="showLoader" md-title="Creation progress">
      <div>
        <md-progress md-value.bind="loaderValue"></md-progress>
        ${microservice.fabricStatus.percentage}% - ${microservice.fabricStatus.status}
      </div>
    </md-card>

    <md-card md-title="Pipeline status">

      <div class="col l3 m6 s12" if.bind="pipelines[0].finished">
        <div class="button-row">
          <button click.delegate="executePipeline()" md-button class="primary"><i class="left material-icons">play_arrow</i>EXECUTE PIPELINE</button>
        </div>
      </div>

      <!--Show progress bar when pipeline is executing-->
      <md-progress md-type="circular" md-size.bind="size" md-color.bind="color"
                   if.bind="!showPipelineStatusIcon" class="right"></md-progress>

      <!--Show icon of pipeline status when completed-->
      <h4 class="right" if.bind="showPipelineStatusIcon">
        <img src=${buildIcon} style="width: 50px;height: 50px;">
        ${buildStatus}
      </h4>

      <!--Show message if pipeline is not executed-->
      <h6 if.bind="!showPipelineStatusIcon">
        Executing pipeline...
      </h6>

      <div repeat.for="pipeline of pipelines">

        <div class="row">
          <div class="col l3 m6 s12">
            <h6>Execution date: </h6>
            <label>${pipeline.startTimeMillis | dateFormat}</label>
          </div>
          <div class="col l3 m6 s12">
            <h6>Total duration: </h6>
            <label>35min</label>
          </div>

        </div>

        <div class="row">

          <div repeat.for="stage of pipeline.stages">
            <md-card class="col l3 m6 s12 ${stage.class}" md-title=${stage.name}>
              <h6>Started at: </h6>
              <label>${stage.startTimeMillis | dateFormat}</label>
              <h6>Duration: </h6>
              <label>${stage.durationMillis} ms</label>
              <h6>Status: </h6>
              <label>${stage.status}</label>
            </md-card>
          </div>

        </div>

      </div>

      <div style="height: 3em">

      </div>
    </md-card>

  </div>
</template>
